@model MVC.ViewModels.PositionVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PositionVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypePosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypePosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departament)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departament)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
